name: Backend chat

on:
  push:
    branches:
      - master
      - v*
    paths:
      - 'backend/**'
  pull_request:
    paths:
      - 'backend/**'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Restore tools
        run: dotnet tool restore
        working-directory: .
      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Test
        run: dotnet test --no-build -c Release
      - name: Pack Chat Contracts
        if: ${{ github.ref == 'refs/heads/master' || contains(github.ref, 'refs/heads/v') }}
        run: dotnet pack --no-build -c Release
        working-directory: ./backend/LeanCode.Chat.Contracts
      - name: Pack Chat
        if: ${{ github.ref == 'refs/heads/master' || contains(github.ref, 'refs/heads/v') }}
        run: dotnet pack --no-build -c Release
        working-directory: ./backend/LeanCode.Chat
      - name: Push to Feedz
        if: ${{ github.ref == 'refs/heads/master' || contains(github.ref, 'refs/heads/v') }}
        run: find . -maxdepth 4 -name '*.nupkg' -exec dotnet nuget push -k "$FEEDZ_API_KEY" -s 'https://f.feedz.io/leancode/public/nuget/index.json' -n '{}' ';'
        env:
          FEEDZ_API_KEY: ${{ secrets.FEEDZ_API_KEY }}
